

<div class="container">
	<h1 class="center">Posts</h1>
	<div class="row">
		<div ng-repeat="post in publicPosts">
			<div class="card horizontal blue-grey">
				<div class="card-image">
					<img ng-src="{{post.thumbnail}}">
				</div>	

					<div class="card-stacked">
					
						<div class="card-content white-text">
								<p ng-click="openNewTab(post.linkUrl)" class="a-link col s6">{{post.headline}}</p>	
								<p class="col s4">Score: {{post.popular}}</p>					
								<a  ng-click="plusOne(post)" ng-disabled="hasVoted(post.voters)" class="btn-flat col s1"><i class="small material-icons">thumb_up</i></a>
								<a ng-click="minusOne(post)" ng-disabled="hasVoted(post.voters)" class="btn-flat col s1"><i class="small material-icons">thumb_down</i></a> 	
						</div>
					</div>
			</div>		
		</div>	
	</div>
</div>
