<div class="container">
	<div class="center">
		<h1>Add</h1>
		<input type="" ng-model="searchText" ng-keyPress="pressEnter($event)">
		<button ng-click="getSearchTerm(searchText)" class="waves-effect waves-teal btn-flat"><i class="small material-icons">search</i></button>

	</div>

	<div ng-repeat="story in headlines">
		<div class="container">
			<div class="row">
				<img class="col s1" ng-src="{{story.image.thumbnail.contentUrl}}"/>
				<p class="col s9" ng-click="openNewTab(story.url)">{{story.name}}</p>
				<button ng-click="addPost(story)" class="btn-flat"><i class="material-icons">add</i></button>
			</div>
	</div>
</div>






