<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Reddit</title>
	<link rel="stylesheet" href="lib/node_modules/materialize-css/dist/css/materialize.min.css">
	<!-- <link rel="stylesheet" href="css/main.css"> -->
</head>
<body ng-app="ReadIt">

	<nav ng-controller='NavCtrl'>

		<button type="button" ng-click="searchButton()">Search</button>
		<button type="button" ng-click="homeButton()">Home</button>
		<button type="button" ng-click="publicButton()">What's Hot</button>
		<button type="button" ng-click="logout()">Logout</button>
	</nav>
		

	<div ng-view></div>


	<!-- Third Party Resources -->
	<script src="lib/node_modules/jquery.2/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="lib/node_modules/angular/angular.min.js"></script>
	<script src="lib/node_modules/angular-route/angular-route.min.js"></script>
	<script src="lib/node_modules/firebase/firebase.js"></script>
	<script src="lib/node_modules/materialize-css/dist/js/materialize.min.js"></script>

	<!-- application scripts -->
	<script src="app/app.js"></script>

	<script src="app/values/FBCreds.js"></script>
	<script src="app/values/BingCreds.js"></script>

	<script src="app/factories/AuthFactory.js"></script>
	<script src="app/factories/SearchFactory.js"></script>
	<script src="app/factories/PostFactory.js"></script>
	<!-- values -->


	<!-- controllers -->
	<script src="app/controllers/LogInCtrl.js"></script>
	<script src="app/controllers/HomeCtrl.js"></script>
	<script src="app/controllers/SearchCtrl.js"></script>
	<script src="app/controllers/NavCtrl.js"></script>
	<script src="app/controllers/PublicCtrl.js"></script>
</body>
</html>